section.news-hero {
  width: 100%;
  background-image: url('../images/news-banner.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 100px 0px 140px 0px;
}
.news-search {
  background: #fff;
  padding: 12px 24px;
  border-radius: 100px ;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: fit-content;
  margin: 0px auto
}
.news-search > div img {
  width: 60px;
  height: 70px;
}
.news-search h2 {
  color: #384252;
  font-size: 32px;
  font-weight: 600;
}
.news-hero input {
  border-radius: 100px;
  padding: 6px 24px;
  min-height: 48px;
  border: none;
  outline: none;
  width: 310px;
  border: 1px solid #22222261;
}
.news-hero input::placeholder {
  color: #22222261;           
}
.news-search > div{
  display: flex;
  gap: 12px;
  align-items: center;
}
.news-hero form {
  display: flex;
  align-items: center;
  gap: 20px;
}
.news-hero form button {
  background-color: var(--cl-secondary);
  border-radius: 100px;
  border: none;
  outline:none;
  min-height: 48px;
  color: white;
  padding: 6px 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 18px;
  font-weight: 500;
  max-width: 154px;
  width: 100%;
  cursor: pointer;
}
.news-hero-list {
  display:  flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
  margin-top: 60px;
}
.hero-item {
  max-width: 150px;
  aspect-ratio: 1/1;
  width: 100%;
  background-color: #FFFFFFF2;
  border-radius: 12px;
  box-shadow: 0px 4px 4px 0px #00000040;
  backdrop-filter: blur(127.80000305175781px);
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.hero-item img {
  max-width: 60px;
  width: 100%;
  aspect-ratio: 1/1;
}
.hero-item h3 {
  color: #384252;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}
.news-featured {
  margin-top: -40px;
  margin-bottom: 70px;
}
.featured-inner {
  background-color: white;
  box-shadow: 4px 4px 18.7px 0px #0000001A;
  border-radius: 32px;
  padding: 48px 0px 48px 48px;
  display: flex;
  gap: 80px;
  position: relative;
  overflow: hidden;
}
.featured-inner::before {
  content: '';
  position: absolute;
  bottom: -180px;
  left: -180px;
  width: 400px;
  height: 400px;
  border-radius: 100%;
  background-color: #EAF3FF;
  z-index: 0;
}
.featured-left {
  max-width: 230px;
  flex-shrink: 0;
  z-index: 1;
}

.featured-left img {
  transform: scale(1.2);
  position: relative;
  left: -20px;
}
.featured-slider {
  flex: 1;
  z-index: 1;
}
.featured-left h2 {
  color: var(--cl-primary);
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 77px;
}
.featured-slider {
  padding-bottom: 55px  !important;
  padding-right: 50px !important;
}
.featured-slider .swiper-slide {
  transform: scale(0.9) !important;
  transition: all 0.3s ease;
}
.featured-slider .swiper-slide.swiper-slide-active {
  transform: scale(1) !important;
  margin-right: 20px !important;
}

.featured-slider .swiper-slide img {
  aspect-ratio: 4/3;
  margin-bottom: 24px;
  
}
.featured-slider .swiper-slide h3 {
  font-size: 24px;
  color:  var(--cl-primary);
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.featured-slider .swiper-slide p {
  margin-top: 8px;
  display: none;
  
}
.featured-slider .swiper-slide.swiper-slide-active p {
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #384252;
}
.featured-slider .swiper-slide.swiper-slide-active h3 {
  font-size: 22px;
}
.featured-slider .swiper-slide.swiper-slide-active img {
  font-size: 22px;
  margin-bottom: 16px;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after, .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  display: none;
}
.btn-swiper {
  width: 44px !important;
  height: 44px;
  border-radius: 50%;
  border: 1px solid  #8292AA;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.btn-swiper svg {
  width: 30px !important;
}
.btn-swiper svg path {
  stroke:  #8292AA !important;
  
}
.btn-swiper.swiper-button-next {
  right: 50px;
  bottom: 0;
  top: auto;
}
.btn-swiper:hover{
  background-color: var(--cl-primary);
}
.btn-swiper:hover svg path {
  stroke: white !important;
}
.btn-swiper.swiper-button-prev {
  right: 124px;
  bottom: 0;
  left: auto;
  top: auto;
}
.featured-slider .swiper-pagination {
  bottom: 18px !important;
  justify-content: flex-end;
  padding-right: 200px;
}
.news-all-inner {
  padding: 48px;
  border-radius: 32px;
  background: white;
  box-shadow: 4px 4px 18.7px 0px #0000001A;
}
.title-news {
  font-size: 36px;
  font-weight: 800;
  color: var(--cl-primary);
  text-align: center;
}
.news-all-inner h2 {
  margin-bottom: 30px;
  
}
.news-all-tab {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 48px;
}
.news-all-tab button {
  min-height: 42px;
  border-radius: 100px;
  color: var(--cl-primary);
  border: 1px solid var(--cl-primary);
  padding: 6px 16px;
  font-size: 18px; 
  background-color: white;
  cursor: pointer;
}
.news-all-tab button.active {
  background-color: var(--cl-secondary);
  color: white;
  border-color: transparent;
}
.news-all-item {
  display: none;
}
.news-all-item.active {
  display: block;
}
.news-all-item .news-item-content {
  display: grid;
  grid-template-columns: 1fr 370px;
  gap: 32px;
  align-items: center;
  margin-bottom: 48px;
}
.news-item-content img {
  width: 100%;
  border-top-right-radius: 16px;
}
.news-item-desc {
  max-width: 396px;
  width: 100%;
}
.news-item-desc h3 {
  color: var(--cl-primary);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
}
.news-item-desc p {
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 24px;
  color: #384252;
  font-size: 16px;
}
.news-item-desc a {
  text-transform: uppercase;
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 22px;
  border-radius: 100px;
  background-color: #0069FC;
  width: fit-content;
  min-height: 38px;;
}
.news-item-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 20px;
}
.news-other {
  margin: 70px 0px;
}
.other-inner {
  box-shadow: 4px 4px 18.7px 0px #0000001A;
  background-color: white;
  padding: 48px;
  border-radius: 32px;
}
.other-inner h2 {
  text-align: left;
  margin-bottom: 48px;
}

.other-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1.8fr;
  gap: 22px;
}
.other-content span {
  display: block;
  border-radius: 16px;
  overflow: hidden;
}
.other-content span iframe {
  aspect-ratio: 16/9;
  width: 100%;
  height: 100%;
}
.other-content span img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.breadcrumb {
  padding: 48px 0px;
}
.breadcrumb-inner {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #22222299;
  font-size: 16px;
  border-bottom: 1px solid #8292AA;
  padding-bottom: 24px;
}
.news-detail h1, .news-detail h2 {
  color: var(--cl-primary);
  font-weight: 700;
  font-size: 32px;
  line-height: 130%;
  margin-bottom: 12px;
}
.news-detail-time {
  display: flex;
  align-items: center;
  gap: 2px;
  color: #384252;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 48px;
}
.news-detail-content {
  padding: 48px;
  box-shadow: 4px 4px 18.7px 0px #0000001A;
  border-radius: 32px;
  font-size: 20px;
  color: #384252;
  font-weight: 400;
  margin-bottom: 48px;
}
.news-detail-content p {
  margin-bottom: 24px;
}
.news-detail-content img {
  width: 100%;
  margin-bottom: 24px;
}
.news-detail-content b {
  font-size: 22px;
  margin-bottom: 24px;
}
.news-detail-content address {
  font-size: 22px;
  font-weight: 700;
}
.news-detail-share {
  margin-bottom: 24px;
}
.news-detail-share h3 {
  margin-bottom: 12px;
  font-size: 22px;
  font-weight: 700;
}
.news-detail-share button {
  padding: 8px;
  border-radius: 100px;
  background: #0069FC;
  color: #FCFCFD;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.news-detail-tag {
  margin-bottom: 48px;
  display: flex;
  align-items: center;
  gap: 24px;
}
.news-detail-tag h3 {
  font-weight: 700;
  font-size: 22px;
  color: #384252;
}
.tag-list {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}
.tag-list li {
  height: 100%;
}
.tag-list li a {
  border-radius: 8px;
  border: 1px solid #8292AA;
  font-size: 12px;
  color: #384252;
  padding: 8px;
  height: 100%;
  display: flex;
}
.news-detail-relate {
  padding: 48px;
  border-radius: 32px;
  box-shadow: 4px 4px 18.7px 0px #0000001A;
  margin-bottom: 50px;
}
.news-detail-relate h3{
  text-align: left;
  margin-bottom: 48px;
}
.news-detail-relate-list {
  padding-bottom: 0px !important;
}

@media (max-width: 1023px) {
  section.news-hero {
    padding-bottom: 50px !important;
  }
  .news-item-list {
    grid-template-columns: 1fr 1fr;
  }
  .other-content {
    grid-template-columns: 1fr 1fr;
  }
  .other-content > span:last-child {
    grid-column: 1/ span 2;
  }
  .featured-slider .swiper-slide.swiper-slide-active h3, .featured-slider .swiper-slide h3 {
    font-size: 18px;
  }
  .featured-slider .swiper-slide, .featured-slider .swiper-slide.swiper-slide-active {
    transform: scale(1);
    margin-right: 0px !important;
  }
  .featured-left h2 {
    font-size: 28px;
  }
  .featured-inner {
    gap: 40px;
  }
  .featured-left img {
    left: auto;
    transform: scale(1);
  }
  .news-search h2 {
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  .news-search h2 {
    font-size: 14px;
  }
  .news-search, .news-hero form, .news-search > div {
    gap: 8px;
  }
  .news-search > div img {
    width: 30px;
    height: 27px;
  }
  .news-hero input {
    width: 140px;
    height: 26px;
    min-height: auto;
    font-size: 8px;
    padding: 0px 10px;
  }
  .news-hero form button {
    font-size: 8px;
    padding: 0px;
    min-height: auto;
    height: 26px;
    width: 70px;
  }
  .news-search {
    padding: 8px;
    width: 100%;
        justify-content: space-between;
  }
  .news-hero-list {
    margin-top: 30px;
    gap: 10px;
  }
  .hero-item img {
    max-width: 30px;
  }
  .hero-item h3 {
    font-size: 8px;
  }
  .hero-item {
    max-width: 68px;
        padding: 5px 10px;
        border-radius: 8px;
        gap: 3px;
  }
  .featured-inner {
     display: block
  }
  .news-featured {
    margin-top: 0px;
  }
  .featured-inner {
    padding: 24px 0px 0px;
    box-shadow: 0px 0px 0px;
  }
  .featured-left h2 {
    font-size: 20px;
    margin-bottom: 40px;
}
.featured-left {
  max-width: 100%;
}
.featured-slider {
  padding-right: 0px !important;
  padding-bottom: 80px !important
}
.featured-inner::before {
  display: none;
}
.btn-swiper.swiper-button-next {
  right: 10px;
}
.btn-swiper.swiper-button-prev {
  right: 65px;
}
.featured-slider .swiper-pagination {
  bottom: 18px !important;
  justify-content: center;
  padding-right: 0px;
}
.news-all-inner {
  box-shadow: 0px 0px 0px;
  padding: 0px;
}
.news-item-list {
  grid-template-columns: 1fr;
} 
.news-all-tab {
  flex-wrap: nowrap;
  overflow-x: auto;
  justify-content: flex-start;
  gap: 12px;
}
.news-all-tab button {
  flex-shrink: 0;
}
.news-featured{
  margin-bottom: 0px !important;
}
.title-news {
  font-size: 20px;
}
.news-all-inner h2 {
  margin-bottom: 24px;
}
.news-all-tab button {
  font-size: 14px;
  padding: 8px 10px;
  min-height: 34px;
}
.news-all-item .news-item-content {
  display: flex;
  flex-direction: column;
  gap :12px;
}
.news-item-desc h3 {
  font-size: 14px;
  margin-bottom: 12px;
}
.news-item-desc  p {
  font-size: 12px;
  margin-bottom: 12px;
}
.news-item-desc a {
  font-size: 14px;
}
.news-all-content .news-btn-more {
  display: none
}
.news-all-content .swiper-slide p {
  display: none
}
.news-all-content .swiper-slide {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap :12px;
  padding: 8px;
  border-radius: 16px;
}
.news-all-content .swiper-slide img {
  max-width: 128px;
}
.news-item-list {
  gap: 12px;
}
.news-all-content .news-list-top h4 {
  font-size: 14px;
}
.news-other {
  margin-top: 0px;
  margin-bottom: 0px;
}
.news-all-content .news-list-swiper {
  padding-bottom: 0px !important;
}
.other-inner {
  box-shadow: 0px 0px 0px;
  padding: 0px;
}
.other-inner h2 {
  text-align: center;
  margin-bottom: 20px;
}
.other-content > span:last-child {
  order: -1;
}
.breadcrumb {
  padding-top: 16px;
  padding-bottom: 24px;
}
.news-detail h1, .news-detail h2 {
  font-size: 22px;
}
.news-detail-time {
  font-size: 14px;
  margin-bottom: 24px;
}
.news-detail-content {
  padding: 16px 0px;
  box-shadow: 0px 0px 0px;
  font-size: 14px;
  margin-bottom: 24px;
}
.news-detail-content > * {
  margin-bottom: 16px !important;
  font-size: 14px !important;
}
.news-detail-share h3, .news-detail-tag h3 {
  font-size: 14px;
}
.news-detail-tag {
  align-items: flex-start;
}
.news-detail-relate h3 {
  text-align: center;
  margin-bottom: 24px;
}
.news-detail-relate {
  padding: 0px;
  box-shadow: 0px 0px 0px;
}
}